@using Entities
@using Business

<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>Nombre bodega</th>
            <th>Nombre dirección bodega</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var warehouse in warehouseList)
        {
        <tr>
            <td>@warehouse.WarehouseName</td>
            <td>@warehouse.WarehouseAddress</td>
            <td><a href="/warehouse/update/@warehouse.WarehouseId">Actualizar</a></td>
        </tr>
        }
    </tbody>
</table>

@code {

    List<WarehouseEntity> warehouseList = new List<WarehouseEntity>();

    protected override async Task OnInitializedAsync()
    {
        warehouseList = B_Warehouse.ListWarehouses();
    }
}
